**.swp
**.swo
**.jar
**.class
**.#**
demo.html
.nrepl-history
pom.xml
pom.xml.asc
figwheel_server.log
/target
/classes
/checkouts
/.lein-*
/.nrepl-port
/resources/public/js
/resources/public/cljs
/out
/.repl
.idea/
klang.iml
